body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0fdf4;
    color: #1a3e2e;
}

.nav {
    background-color: #10b981;
    padding: 1rem;
    margin-bottom: 2rem;
}

.button {
    color: white;
    background-color: #059669;
    text-decoration: none; 
    padding: 0.75em 1.5em;
    margin: 0.5em 0.5em;
    border-radius: 5px;
    font-weight: bold;
}

nav .button:hover  {
    background-color: #047857;
}

h2 {
    color: #065f46;
    margin-top: none;
    font-size: 1.8rem;
}

.szoveg p {
    text-align: justify;
    margin-bottom: 1em;


}



h1 {
   text-align: center; 
   background-color: lightgreen;
   color: white;
   padding:  1.5em 1.5em 1.5em 1.5em;
   margin-bottom: 2em;
   font-size: 3em;
}

article {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
}

section {
    background-color: #e6fef1;
    border-left: 10px solid #10b981;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(16, 185, 129, 0.1);
}

.szoveg {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: start;
}


.szoveg img{
    width: 100%;
    border-radius: 5px;
    margin-top: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: auto;
}

footer {
    background-color:#10b981;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 1em;

}

@media (max-width:600px){

    body {
        font-size: larger;
    }
    
    article {
          width: 100%;
    }

    nav {
        text-align: left;
    }
    .button {
        display: block;
        text-align: center;
    }

    .szoveg {
        display: grid;
        grid-template-columns: 1fr;
    }
}

